.room{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;

}

.lit{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color:white;
}
